name: Podspec

on:
  release:
    types: [created, published]

jobs:
  linting:      
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Cocoapods
        run: gem install cocoapods
      - name: Run linting
        run: pod spec lint TPTweak.podspec